.nav{
    display:flex;
    margin-left: 450px;
    font-size: 25px;
    font-family: cursive;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
}
.s{
    margin-left: 20px;
}

.d{
    margin-left: 20px;
}

.f{
    margin-left: 20px;
}

.s:hover{
    color: rgb(52, 184, 184);
    
}
.a:hover{
    color: rgb(52, 184, 184);
}
.f:hover{
    color: rgb(52, 184, 184);
}
.d:hover{
    color: rgb(52, 184, 184);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  body{
   
    background-repeat: no-repeat;
    
  }

  .te{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 800px;
    background-image: url(8f367e5eb0a202bd32cb56678bd0a7d0.jpg);
    margin-top: -510px;
  }

  .sw{
    border: 4px solid black;
    border-radius: 10px; 
  }
  .text{
    width: 600px;
    height: 500px;
    margin-top: 60px;
  
    margin-left: 10px;
    

  }

  html{
    scroll-behavior: smooth;
  }

  .qweq{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(192, 62, 231, 0.822);
  }
  input:hover{
   cursor:  pointer;
    background-color: rgb(73, 5, 73) ;
  }